@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Crimson+Text:wght@600&family=Signika+Negative&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: red;
    margin: 0;
}

header {
    background-color: #eaee2f;
    display: grid;
    grid-template-columns: 150px auto;
    position: fixed;
    width: 100%;
    top: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #0c2dc2;
    text-decoration: none;
    padding: 35px;
    font-size: 1.4em;
}

nav a:hover {
    color: #1E96FC;
    background-color: #ebed80;
}


main {
    text-align: center;
    margin-top: 100px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bigpicdiv {
    text-align: center;
    grid-column: 1/5;
    grid-row: 1/2;
}

.bigpic {
    width: 500px;
    height: 300px;
}

.intro {
    font-size: 2.0em;
    color: white;
    margin: 0 auto;
    height: 150px;
    color: #bbff9b;
}

main h2 {
    color: white;
    text-align: left;
    margin-left: 150px;
    grid-column: 1/3;
    font-family: "Signika Negative", Helvetica, sans-serif;
}

main p {
    font-size: 1.4em;
    color: white;
    margin: 0 200px;
    grid-column: 1/5;
    font-family: "Crimson Text", Arial, Helvetica, sans-serif;
    word-spacing: 5px;
    line-height: 50px;
}

.abouth {
    grid-row: 4/5;
}

.aboutp {
    grid-row: 5/6;
    margin-bottom: 50px;
}

.settingh {
    grid-row: 7/8;
}

.settingp {
    grid-row: 8/9;
    margin-bottom: 50px;
}

.sumh {
    grid-row: 10/11;
}

.sump {
    grid-row: 11/12;
    margin-bottom: 75px;
}

.greatest {
    grid-row: 13/14;
    grid-column: 1/5;
    background-color: #bbff9b;
}

.greatest-img {
    margin-top: 50px;
}

.conclusion {
    grid-row: 15/16;
    grid-column: 1/5;
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 2.0em;
    color: red;
}

footer {
    background-color: #eaee2f;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    font-size: 1.4em;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



/* MC page */
.main-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mc-title {
    color: #bbff9b;
    grid-column: 1/5;
    text-align: left;
    margin-left: 150px;
    padding: 25px 0;
    font-size: 2.2em;
    font-family: "Courgette", sans-serif, Arial;
}

.intro2 {
    font-size: 1.6em;
    grid-column: 1/5;
    text-align: center;
    padding-bottom: 25px;
    color: #bbff9b;
}

.char-img {
    grid-column: 1/3;
    margin-left: 150px;
    margin-bottom: 50px;
}

.charpara {
    grid-column: 3/5;
    text-align: left;
    margin: 0;
    line-height: 40px;
    margin-right: 100px;
    font-size: 1.4em;
    margin-left: -175px;
}

/* Arcs page */
.main-grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.arcs-title {
    color: #bbff9b;
    grid-column: 1/5;
    text-align: left;
    margin-left: 150px;
    padding: 25px 0;
    font-size: 2.2em;
    font-family: "Courgette", sans-serif, Arial;
}

.intro3 {
    font-size: 1.6em;
    grid-column: 1/5;
    text-align: center;
    padding-bottom: 75px;
    margin-top: -25px;
    color: #bbff9b;
}

.order {
    grid-column: 1/3;
    width: 300px;
    text-align: left;
    padding-left: 150px;
    font-size: 1.2em;
    line-height: 30px;
    margin: 0;
    color: white;
}

.list {
    text-align: left;
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1/3;
    margin: 0;
}

.arc_img {
    width: 600px;
    height: 340px;
    margin-left: -30px;
    grid-column: 3/5;
}

.arc_title {
    grid-column: 3/5;
    margin: 0;
    margin-left: -30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    align-self: center;
}

.arc_des {
    grid-column: 3/5;
    text-align: left;
    margin: 0;
    margin-left: -30px;
    margin-bottom: 75px;
    width: 600px
}